{% extends "base.html" %}

{% block title %}BDAIflix - TV Shows{% endblock %}

{% block content %}

  <!-- MAIN CONTAINER -->
  <div class="container">

    <!-- CATEGORIES -->
    <section>
      <div class="text-dark flex align-center center">
        TV Shows
      </div>
    </section>
    <section>
      {% for tvshow in tvshows %}
        <div class="category flex align-center center">
            <a href="{% url 'serie-part' client.id tvshow.id %}">
              {% load static %}<img class="tvshow{{tvshow.id}}">
              <script>
                var url = "static/website/images-classes{{tvshow.image.url}}"
                function update(className, property, value) {
                  Array.from(document.getElementsByClassName(className)).forEach(elem => (elem[property] = value))
                }
                update("tvshow{{tvshow.id}}", "src", url)
              </script>
              <div class="category-text">
                <h3> {{ tvshow.title }} </h3>
                <div> By {{ tvshow.director }} </div>
              </div>
            </a>
        </div>
      {% endfor %}
    </section>


  </div>


{% endblock %}
