{% extends "base.html" %}

{% block title %}BDAIflix - {{ movie.title }}{% endblock %}

{% block content %}

  <!-- MAIN CONTAINER -->
  <div class="container">

    <!-- CATEGORIES -->
    <section>
      <div class="text-dark flex align-center center">
        {{ movie.title }}
      </div>
    </section>
    <section>
      <div class="flex-one align-center center">
        <a href="{% url 'movie-part' client.id movie.id %}">
          <div class="align-center center">{% load static %}<img class="movie{{movie.id}}"></div>
          <script>
            var url = "static/website/images-classes{{movie.image.url}}"
            function update(className, property, value) {
              Array.from(document.getElementsByClassName(className)).forEach(elem => (elem[property] = value))
            }
            update("movie{{movie.id}}", "src", url)
          </script>
          <div class="category-text">
            <h3> By {{ movie.director }} </h3>
            <div> {{ movie.genres }} </div>
          </div>
        </a>
      </div>
    </section>

    <section>
      {% for actor in actors %}
        {% if movie.id == actor.movie_id%}
          <div class="category course align-center center">
            <h3> {{ actor.name }} </h3>
            <div> <b>Country:</b> {{ actor.country }} </div>
            <div> <b>Birth:</b> {{ actor.birth }} </div>
          </div>
        {% endif %}
      {% endfor %}
    </section>


  </div>


{% endblock %}
